*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(211, 211, 211);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main, header{
    width: 90%;
    margin: auto;
}

footer{
    margin: 100px;
}

img, figcaption{
    width: 350px;
}

img{
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 40px;
    margin-top: 40px;
}

p, h2{
    width: 80%;
    margin: auto;
}

h2{
    padding-top: 40px ;
}

h1{
    padding-top: 30px;
    font-size: xx-large;
}

.flyt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}  

p::first-letter{
color: red;
font-size: 50px;

}

